* {
	margin: 0;
}

.app {
	/*give the entire app div as height 100vh, so that it takes the full height of the page at all times*/
	height: 100vh;
	/*display flex so that the header and container as in a flexbox, with column directions*/
	display: flex;
	flex-direction: column;
}

.app__page {
	/*set the main container to take as much space as it wants*/
	display: flex;	/*display flex here cuz w want the Sidebar and mainContainer to be horizontal*/
	flex: 1;
}