.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.header__search {
    /*search bar to take as much space as it wants*/
    flex: 1;
    display: flex;
    align-items: center;
    height: 30px;
}

.header__input input{
    padding: 7px !important;
}

.header__logo {
    width: 80px;
    height: 30px;
    object-fit: contain;    /*maintains image aspect ratio*/
}

.header__searchButton {
    background-color: lightgray !important;
    height: 33px;
}
